.card-container {
    display: flex;
    flex: 1;
    position: relative;
  }
  .my-card {
    flex: 1;
    margin-left: 20px;
    position: relative;
  }
  .img-container {
    max-height: 300px;
    max-width: 100%;
  }
  
  .buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  
  .my-card:hover .buttons-container {
    opacity: 1;
    pointer-events: auto;
  }
  
  .my-card button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 6px 12px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .my-card .btn-product {
    background-color: white;
    color: black;
    border: none;
  }

  h1 {
    color: white;
    font-weight: 600;
  }